
.qrpay {
  position: relative;
  .banner {
    position: relative;
    height: 500px; 
    .qrpay_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .content {
      position: absolute;
      top: 20px;
      left: 0;
      height: 100%;
      justify-content: center;
      margin: 0 40px;
      .park-name {
        font-size: 44px;
        color: #000;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .order-number {
        font-size: 28px;
        margin-bottom: 40px; 
      }
      .qrpay_position {
        width: 26px;
        height: 26px;
        margin-right: 10px;
      }
      .position {
        background-color: white;
        height: 54px;
        border-radius: 27px;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        
      }
      .position-text {
        font-size: 26px;
      }
    }
  }

  .qrpay_right {
    flex-shrink: 0;
    width: 13px;
    height: 22px;
    margin-left: 10px;
  }


  .fee-body {
    position: absolute;
    top: 480px;
    left: 0;
    width: 100%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: white;
    .plate-no {
      color: var(--nut-primary-color);
      font-size: 38px;
    }
    .plate-no-type {
      color: var(--nut-primary-color);
      font-size: 26px;
    }
    .plate-info {
      margin: 40px;
      .qrpay_car {
        width: 36px;
        height: 30px;
        margin-right: 20px;
      }
      .park-duration {
        font-size: 28px;
        margin-top: 10px;
      }
    }
    .cate-title {
      font-size: 32px;
      color: #000;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .cate-item {
      height: 100px;
      background-color: #EEF4F0;
      border-radius: 16px;
      padding: 0 29px;
      align-items: center;
      .text {
        color: #797e7a;
        font-size: 30px;
      }
    }
  }


  .header {
    justify-content: space-around;
    padding: 50px 0;
    background-color: #EEF4F0;
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .count { 
    font-size: 26px;
    color: #000;
    margin-bottom: 10px;
    font-family: PingFang SC, PingFang SC;
  }
  .count-tip {
    font-size: 24px;
    color: #797e7a; 
    font-family: PingFang SC, PingFang SC;
  }
  .qrpay_img {
    width: 23px;
    height: 20px;
    margin-left: 10px;
  }
  .icon {
    font-size: 24px;
    color: #797e7a; 
  }
 
  .line {
    background-color: #acb1ad;
    height: 60px;
    width: 0.5px; 
  }
 
  .pay-bottom {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
  }
  .pay-content {
    margin: 0 30px;
 
    border-radius: 55px;
  }
  .pay-btn {
    border-radius: 50px;
    height: 100px;
    width: 100%;
    font-size: 36px;
    font-weight: bold;
  }
  .bottom-tips {
    width: 100%;
    text-align: center;
    color: #9496A5;
    font-family: PingFang SC, PingFang SC;
    font-size: 18px;
    margin-top: 10px;
  }

 
}