/* NutUI组件库 CSS变量主题定制参考地址: https://github.com/jdf2e/nutui/blob/v4/src/packages/styles/variables.scss */
:root,
page {
  --nut-primary-color: #4171ff;
  --nut-primary-color-end: #418aff;
  --nut-button-primary-background-color: #4171ff;
  /*--nut-button-border-radius: 12px*/
}
