.coupon-get {


  padding: 0 20px;

  .topm {
    margin-top: 20px;
  }
  .coupon-get-plate-add {
    padding: 0 20px;
    background: white;
    border-radius: var(--border-radius);
    margin-top: 20px;
  }

  .btn {
    margin: 40px 20px;
  }

  .scanQRCode {
    margin-top: 20px;
  }
}

page {
  background: #f5f5f5;
}
