.CouponItem {

  font-family: "Alimama ShuHeiTi";
  letter-spacing: 4px;
  position: relative;
  width: 100%;
  height: 304px;

  .coupon-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 304px;
  }

  .coupon-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .left {
      transform: rotate(-90deg);
      align-content: center;
      justify-content: center;

      .coupon-value {
        font-size: 84px;
        -webkit-text-stroke: 1.5px #FEB800;
        color: white;
      }

      .coupon-type {
        margin-top: 70px;
        font-size: 25px;
      }
    }

    .right {
      color: white;
      flex: 1;

      .title {
        font-size: 96px;
        margin: 20px 0;
      }

      .coupon-valid {
        font-size: 20px;
      }
    }


  }


}
